{% extends 'quick_lex/base.html' %}
{%load static%}

{% block content %}
<body>
    <h3>Sobre mi</h3>
    Me presento, soy Ramiro Mena y tengo 32 años. En 2019 me recibí de abogado aunque nunca llegue a ejercer, durante estos años la busqueda de empleo estuvo muy dificil.
    La pandemia hacia que sea entrar en algunos edificios para llevar curriculums, y por medio de plataformas de empleo o buscaban un estudiante o abogado experimentado.
    Entre al curso de python porque queria dar una vuelta de 180 grados y queria hacer algo mas productivo, se que en algunas cosas me cuesta pero con el tiempo se que voy a poder superarme.
    Volviendo a la aplicación, algo que siempre tuve miedo era entrar a trabajar en un estudio juridico y no saber donde estoy parado, por eso la hice, para el que recien arranca y necesita algo simple y entendible.     
</body>
{% endblock content %}
