{% extends 'quick_lex/base.html' %}
{% load static %}
   
{% block content %}
<table>
    <tr>
        <td width="100"><h2>Expedientes:</h2></td>
        <td>
            <a
            href="{% url 'exp_create' %}"
            class="btn btn-primary "
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-plus fa-lg" title="Crear expediente"></i> </i>
            </a>
        </td>
    </tr>
</table>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Caratula</th>
            <th>Fuero</th>
            <th>Numero</th>
            <th>Abogado</th>
            <th>Personas</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for Expedientes in expedientes %}
    <tr>
        <td>{{ Expedientes.id }}</td>
        <td>{{ Expedientes.cartula }}</td>
        <td>{{ Expedientes.fuero }}</td>
        <td>{{ Expedientes.numero }}</td>
        <td>{{ Expedientes.abogado }}</td>
        <td>{{ Expedientes.personas }}</td>
        <td>{{ Expedientes.estado }}</td>
        <td>
            <a
            href="{% url 'exp_update' Expedientes.id %}"
            class="btn btn-primary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-edit fa-sm" title="Editar"></i>
            </a>
            <a
            href="{% url 'exp_delete' Expedientes.id %}"
            class="btn btn-primary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            ><i class="fa fa-trash fa-sm" title="Borrar"></i>
            </a>
        </td>      
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}